{% if context|default %}
	{% set fieldId = id|default ? id|namespaceInputId(context) : '' %}
	{% set fieldName = name|default ? name|namespaceInputName(context) : '' %}
{% else %}
	{% set fieldId = id ?? '' %}
	{% set fieldName = name ?? '' %}
{% endif %}

<div v-scope="ClearableInput({ name: '{{ name|default('') }}', value: '{{ value|default('') }}', errors: {{ errors|default([])|json_encode }} })">

	{% if label|default %}
		<label for="{{ fieldId }}" class="{{ hideLabel|default ? 'sr-only' : 'block mb-2 font-medium text-gray-500' }}">
			{{ label ~ (required|default(false) ? '*' : '') }}
		</label>
	{% endif %}

	<div class="relative">
		<input
			v-model="value"
			id="{{ fieldId }}"
			name="{{ fieldName }}"
			type="{{ type ?? 'text' }}"
			autocomplete="{{ autocomplete|default('') }}"
			class="w-full h-12 pl-4 pr-12 bg-white rounded-xl focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300 js-clearable"
			:class="errors.length ? 'text-red-500 border-red-500 focus:border-red-500' : 'text-gray-800 border-gray-500 focus:border-black'"
			placeholder="{{ placeholder|default('') }}"
			:aria-invalid="errors.length ? true : false"
			aria-errormessage="{{ fieldId }}-error"
			@input="input"
			@focus="focus"
			@blur="blur($el)"
			{%- if action|default -%}v-effect="{{ action }}"{%- endif -%}
			{%- if required|default -%}required{%- endif -%}
		/>
		<button
			v-cloak
			type="button"
			class="absolute inset-y-0 right-0 flex justify-center items-center w-12 h-12 rounded-r-xl transition-opacity duration-300"
			:class="showButton ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
			:aria-hidden="!showButton"
			:tabindex="value ? '0' : '-1'"
			@focus="showButton = value ? true : false"
			@blur="showButton = false"
			@click="clear($el)"
		>
			<span class="sr-only">{{ 'Clear this field'|t('foster-checkout') }}</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" class="fill-current" aria-hidden="true">
				<path d="M1.22473 13.9682L0.03125 12.7747L5.80625 6.99973L0.03125 1.22473L1.22473 0.03125L6.99973 5.80625L12.7747 0.03125L13.9682 1.22473L8.1932 6.99973L13.9682 12.7747L12.7747 13.9682L6.99973 8.1932L1.22473 13.9682Z" fill="black"/>
			</svg>
		</button>
	</div>

	<p v-cloak v-if="errors.length" id="{{ fieldId }}-error" class="mt-1 text-sm text-red-500">
		${ errors.join(' ') }
	</p>

</div>
