{% extends 'foster-checkout/_layouts/default' %}

{% macro errorList(errors) %}
	{% if errors %}
		{{ ul(errors, {class: 'mt-1 text-sm text-red-500'}) }}
	{% endif %}
{% endmacro %}

{% set user = user ?? null %}

{% block body %}

	<main class="my-4 lg:my-16">

		<nav class="mb-14 max-w-[460px] mx-auto lg:max-w-full lg:mb-2">
			<a href="#" class="inline-flex justify-start items-center gap-4 font-medium text-[var(--brandColor)]">
				<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" class="fill-current">
					<path
						d="M0.301388 6.99931L6.64054 0.660156L8.05469 2.07431L3.10469 6.99931L8.02969 11.9243L6.61554 13.3385L0.301388 6.99931Z"/>
				</svg>
				<span class="inline">{{ 'Back to checkout'|t('foster-checkout') }}</span>
			</a>
		</nav>

		<div class="max-w-[460px] mx-auto">

			<h1 class="font-medium text-3xl text-center">{{ 'Sign Up'|t('foster-checkout') }}</h1>

			<form class="mt-11" method="post" accept-charset="UTF-8">

				{{ csrfInput() }}
				{{ actionInput('users/save-user') }}

				<fieldset class="grid grid-cols-1 gap-6">

					<div>
						<label for="registerEmail" class="block mb-2 font-medium text-gray-500">
							{{ 'Email'|t('foster-checkout') }}*
						</label>
						<input
							type="email"
							id="registerEmail"
							name="email"
							autocomplete="email"
							class="w-full h-12 px-4 bg-white rounded-xl border-gray-500 focus:border-black focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300"
							value="{{ craft.app.user.rememberedUsername }}"
							placeholder="{{ 'Enter your email'|t('foster-checkout') }}"
							required
						/>
						{{ user ? _self.errorList(user.getErrors('email')) }}
					</div>

					<div>
						<label for="registerPassword" class="block mb-2 font-medium text-gray-500">
							{{ 'Password'|t('foster-checkout') }}*
						</label>
						<input
							id="registerPassword"
							type="password"
							name="password"
							autocomplete="new-password"
							class="w-full h-12 px-4 bg-white rounded-xl border-gray-500 focus:border-black focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300"
							required
						/>
					</div>

					<div>
						<label for="registerConfirmPassword" class="block mb-2 font-medium text-gray-500">
							{{ 'Confirm Password'|t('foster-checkout') }}*
						</label>
						<input
							id="registerConfirmPassword"
							type="password"
							name="password"
							autocomplete="new-password"
							class="w-full h-12 px-4 bg-white rounded-xl border-gray-500 focus:border-black focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300"
							required
						/>
					</div>

				</fieldset>

				{% set note = craft.fostercheckout.note('login') %}
				{% if note %}
					<div class="mt-4 text-gray-500 prose prose-a:text-black prose-a:font-normal">
						{{ note|raw }}
					</div>
				{% endif %}

				<div class="mt-12 grid grid-cols-1 gap-4">
					{% if user and user.hasErrors() %}
						<p class="text-sm text-red-500">{{ 'Please address the errors noted above.'|t('foster-checkout') }}</p>
					{% endif %}
					<button
						type="submit"
						class="block w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
					>
						{{ 'Sign Up'|t('foster-checkout') }}
					</button>
					<a href="#" class="text-center underline text-[var(--brandColor)] hover:no-underline">
						{{ 'I already have an account'|t('foster-checkout') }}
					</a>
				</div>

			</form>

		</div>

	</main>

{% endblock %}
