{# Check for any custom fields that are setup in address field layouts (we are only getting plain text fields for now) #}
{% set addressFieldLayout = craft.app.getAddresses().getFieldLayout() %}
{% set addressCustomFields = addressFieldLayout.getCustomFields()|filter(field => className(field) == 'craft\\fields\\PlainText') %}

{# Set defaults for context and the address object, in case they are null #}
{% set context = context ?? '' %}
{% set address = address ?? null %}
{% set errors = address ? address.getErrors : {} %}

{% set countries = craft.commerce.stores.currentStore.settings.getCountriesList() %}
{% set requiredFields = [] %}
{% set priorityCountries = craft.fostercheckout.settings.priorityCountries %}

{# Put priority countries first then list all the countries in alphabetical order
Note that any countries that are in the priority countries array won't show in the rest of the list
since the array key will be the same #}
{% set orderedCountries = {} %}
{% for code in priorityCountries %}
	{% if countries[code] is defined %}
		{% set orderedCountries = orderedCountries|merge({(code): countries[code]}) %}
	{% endif %}
{% endfor %}
{# Add a spacer option #}
{% set orderedCountries = orderedCountries|merge({' ': ''}) %}
{# Now add the rest of the countries #}
{% for code, name in countries %}
	{% set orderedCountries = orderedCountries|merge({(code): name}) %}
{% endfor %}


{% set countries = orderedCountries %}

{% for countryCode, _country in countries %}
	{% set requiredFields = requiredFields|merge({(countryCode): craft.app.addresses.getAddressFormatRepository().get(countryCode).getRequiredFields()}) %}
{% endfor %}

<div
	x-data="{
		address: {{ address|json_encode }},
		countryCode: '{{ address ? address.countryCode : '' }}',
		administrativeArea: '{{ address ? address.administrativeArea : '' }}',
		countries: {{ countries|json_encode }},
		requiredFields() { return JSON.parse('{{ requiredFields|default({})|json_encode|e('js') }}'); },
		regions: {{ craft.commerce.stores.currentStore.settings.getAdministrativeAreasListByCountryCode()|json_encode }},
		errors: {{ errors|json_encode }},
	}"
	class="grid grid-cols-1 gap-y-4 gap-x-4 sm:grid-cols-3"
>
	<div class="sm:col-span-3">
		<label for="{{ 'countryCode'|namespaceInputId(context) }}" class="block mb-2 font-medium text-gray-500">
			{{ 'addressFields.countryLabel'|t('foster-checkout') }}*
		</label>
		<select
			x-model="countryCode"
			id="{{ 'countryCode'|namespaceInputId(context) }}"
			name="{{ context ? 'countryCode'|namespaceInputName(context) : 'countryCode' }}"
			autocomplete="country-name"
			class="w-full h-12 px-4 bg-white rounded-lg focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300"
			:class="'countryCode' in errors ? 'border-red-500 focus:border-red-500' : 'border-gray-250 focus:border-black'"
			:aria-invalid="'countryCode' in errors"
			aria-errormessage="{{ 'countryCode'|namespaceInputId(context) }}-error"
			@change="administrativeArea = ''; if ($el.value) delete errors.countryCode"
			required
		>
			<option value="" disabled>{{ 'addressFields.select'|t('foster-checkout') }}</option>
			<template x-for="(country, key) in countries" :key="key">
				<option x-text="country" :value="key" :selected="countryCode == key">
				</option>
			</template>

		</select>
		<template x-if="'countryCode' in errors">
			<div
				id="{{ 'countryCode'|namespaceInputId(context) }}-error"
				class="mt-1 text-sm text-red-500"
				x-html="`${ errors.countryCode ? errors.countryCode.join(' ') : '' }`">
			</div>
		</template>
	</div>

	<div class="sm:col-span-3">
		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			context: context,
			label: 'addressFields.fullnameLabel'|t('foster-checkout'),
			id: 'fullName',
			name: 'fullName',
			type: 'text',
			autocomplete: 'name',
			placeholder: 'addressFields.fullnamePlaceholder'|t('foster-checkout'),
			value: address ? address.fullName|e('js') : '',
			required: true,
			errors: errors.fullName ?? []
		} %}
	</div>

	<div class="grid grid-cols-1 gap-y-4 gap-x-6 sm:col-span-3">
		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			context: context,
			label: 'addressFields.addressLabel'|t('foster-checkout'),
			id: 'addressLine1',
			name: 'addressLine1',
			type: 'text',
			autocomplete: 'address-line1',
			placeholder: 'addressFields.addressPlaceholder'|t('foster-checkout'),
			value: address ? address.addressLine1|e('js') : '',
			errors: errors.addressLine1 ?? []
		} %}

		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			context: context,
			label: 'addressFields.address2Label'|t('foster-checkout'),
			hideLabel: true,
			id: 'addressLine2',
			name: 'addressLine2',
			type: 'text',
			autocomplete: 'address-line2',
			placeholder: 'addressFields.address2Placeholder'|t('foster-checkout'),
			value: address ? address.addressLine2|e('js') : '',
			errors: errors.addressLine2 ?? []
		} %}

		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			context: context,
			label: 'Line 3',
			hideLabel: true,
			id: 'addressLine3',
			name: 'addressLine3',
			type: 'text',
			autocomplete: 'address-line3',
			placeholder: '',
			value: address ? address.addressLine2|e('js') : '',
			errors: errors.addressLine2 ?? []
		} %}
	</div>

	<div class="sm:col-span-1">
		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			context: context,
			label: 'addressFields.cityLabel'|t('foster-checkout'),
			id: 'locality',
			name: 'locality',
			type: 'text',
			autocomplete: 'address-level2',
			placeholder: 'addressFields.cityPlaceholder'|t('foster-checkout'),
			value: address ? address.locality|e('js') : '',
			errors: errors.locality ?? []
		} %}
	</div>

	<div class="sm:col-span-1">
		<template x-if="regions[countryCode] && !Array.isArray(regions[countryCode])">
			<div>
				<label for="{{ 'administrativeArea'|namespaceInputId(context) }}"
							 class="block mb-2 font-medium text-gray-500">
					{{ 'addressFields.stateLabel'|t('foster-checkout') }}<span x-text="`${ requiredFields()[countryCode].includes('administrativeArea') ? '*' : '' }`"></span>
				</label>
				<select
					x-model="administrativeArea"
					id="{{ 'administrativeArea'|namespaceInputId(context) }}"
					name="{{ context ? 'administrativeArea'|namespaceInputName(context) : 'administrativeArea' }}"
					autocomplete="address-level1"
					class="w-full h-12 px-4 bg-white rounded-lg focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300"
					:class="'administrativeArea' in errors ? 'border-red-500 focus:border-red-500' : 'border-gray-500 focus:border-black'"
					:aria-invalid="'administrativeArea' in errors"
					aria-errormessage="{{ 'administrativeArea'|namespaceInputId(context) }}-error"
					@change="if ($el.value) delete errors.administrativeArea"
					:required="requiredFields()[countryCode].includes('administrativeArea')"
				>
					<option value="" disabled>{{ 'addressFields.select'|t('foster-checkout') }}</option>
					<template x-for="(region, key) in regions[countryCode]" :key="key">
						<option :value="key" :selected="key === administrativeArea" x-text="`${region}`">
						</option>
					</template>
				</select>
			</div>
		</template>

		<template x-if="regions[countryCode] === false || Array.isArray(regions[countryCode]) ">
			<div >
				{% include 'foster-checkout/_components/base/input-text-clearable' with {
					context: context,
					label: 'addressFields.stateLabel'|t('foster-checkout'),
					id: 'administrativeArea',
					name: 'administrativeArea',
					type: 'text',
					autocomplete: 'address-level1',
					placeholder: 'addressFields.statePlaceholder'|t('foster-checkout'),
					value: address ? address.locality|e('js') : '',
					errors: errors.locality ?? []
				} %}
			</div>
		</template>

	</div>

	<div class="sm:col-span-1">
		{% include 'foster-checkout/_components/base/input-text-clearable' with {
			context: context,
			label: 'addressFields.postcodeLabel'|t('foster-checkout'),
			id: 'postalCode',
			name: 'postalCode',
			type: 'text',
			autocomplete: 'postal-code',
			placeholder: 'addressFields.postcodePlaceholder'|t('foster-checkout'),
			value: address ? address.postalCode|e('js') : '',
			errors: errors.postalCode ?? []
		} %}
	</div>

	{% for customField in addressCustomFields %}

		<div class="sm:col-span-3">

			{% if customField.multiline %}

				<label for="{{ ('custom-field-' ~ customField.handle)|namespaceInputId(context) }}"
							 class="block text-sm font-medium text-gray-700">
					{{ customField.name|t('foster-checkout') }}{% if customField.required %}*{% endif %}
				</label>

				<textarea
					id="{{ ('custom-field-' ~ customField.handle)|namespaceInputId(context) }}"
					name="{{ context ? ('fields[' ~ customField.handle ~ ']')|namespaceInputName(context) : ('fields[' ~ customField.handle ~ ']') }}"
					class="w-full p-4 bg-white rounded-lg focus:!ring-0 focus:!outline-none placeholder:text-gray-400 transition-color duration-300"
					:class="'{{ customField.handle }}' in errors ? 'border-red-500 focus:border-red-500' : 'border-gray-500 focus:border-black'"
					rows="{{ customField.initialRows }}"
					{% if not customField.required %}
						aria-describedby="{{ ('custom-field-' ~ customField.handle)|namespaceInputId(context) }}-optional"
					{% endif %}
					:aria-invalid="'{{ customField.handle }}' in errors"
					aria-errormessage="{{ ('custom-field-' ~ customField.handle)|namespaceInputId(context) }}-error"
					placeholder="{{ customField.placeholder }}"
					@input="if ($el.value) delete errors.{{ customField.handle }}"
					{% if customField.required %}
						required
					{% endif %}
				>{{ address ? address[customField.handle]|e('js') : '' }}</textarea>

				<template x-if="'{{ customField.handle }}' in errors">
					<div
						id="{{ ('custom-field-' ~ customField.handle)|namespaceInputId(context) }}-error"
						class="mt-1 text-sm text-red-500"
						x-html="`${ errors.{{ customField.handle }} ? errors.{{ customField.handle }}.join(' ') : '' }`">
					</div>
				</template>


			{% else %}
				{% include 'foster-checkout/_components/base/input-text-clearable' with {
					context: context,
					label: customField.name|t('foster-checkout'),
					id: 'custom-field-' ~ customField.handle,
					name: 'fields[' ~ customField.handle ~ ']',
					type: 'text',
					placeholder: customField.placeholder|t('foster-checkout'),
					value: address ? address[customField.handle]|e('js') : '',
					required: customField.layoutElement.required,
					errors: errors[customField.handle] ?? []
				} %}

			{% endif %}

		</div>

	{% endfor %}

</div>
