{% set previewImage = craft.fostercheckout.lineItemImage(lineItem) %}

{% set hasImage = true %}
{% set imageUrl = null %}

{% if previewImage|default %}
	{% if craft.app.plugins.isPluginEnabled('imager-x') %}
		{% set images = craft.imagerx.transformImage(
			previewImage,
			[
				{width:70, height:70},
			],
			craft.fostercheckout.settings.options.imagerXConfig
		) %}

		{% set imageUrl = images[0].url %}
	{% else %}
		{% set preview = {
			mode: 'crop',
			width: 70,
			height: 70,
			quality: 90,
			position: 'center-center'
		} %}
		{% set imageUrl = previewImage.getUrl(preview) %}
	{% endif %}
{% elseif craft.fostercheckout.settings.options.enablePlaceholderImages %}
	{% set imageUrl = 'https://placehold.co/70x70?text=' ~ 'misc.noImage'|t('foster-checkout')|split(' ')|join('+') %}
{% else %}
	{% set hasImage = false %}
{% endif %}

<article class="flex justify-between items-stretch gap-4 p-4 bg-gray-200 rounded-lg">
	{% if hasImage %}
		<div class="w-[70px] min-w-[70px]">
			<figure class="rounded-lg overflow-hidden">
				<img
					srcset="{{ imageUrl }}"
					sizes="(min-width: 768px) 200px, 80px"
					width="70"
					height="70"
					alt="{{ 'Image of'|t('foster-checkout') ~ ' ' ~ lineItem.description }}"
				/>
			</figure>
		</div>
	{% endif %}

	<div class="flex justify-between items-stretch gap-4 flex-grow">
		<div class="flex flex-col justify-between items-start gap-1">
			<h3 class="font-semibold leading-snug">{{ lineItem.description }}</h3>
			<p class="text-sm uppercase text-gray-500">{{ 'Qty'|t('foster-checkout') }}: {{ lineItem.qty }}</p>
			{% if lineItem.lineItemStatus %}
				<p class="text-sm uppercase text-gray-500">{{ lineItem.lineItemStatus }}</p>
			{% endif %}
		</div>
		<h4 class="font-semibold text-right leading-snug">
			{% if lineItem.getDiscount() %}
				{% for adjustment in lineItem.getAdjustments() %}
					{% if adjustment.type == 'discount' %}
						<span class="text-sm text-[var(--brandColor)]">{{ adjustment.name|raw }}</span><br>
					{% endif %}
				{% endfor %}
				<span class="line-through text-sm text-gray-500">{{ (lineItem.price * lineItem.qty) | commerceCurrency }}</span> {{ lineItem.totalAsCurrency }}
			{% else %}
				{{ lineItem.subtotalAsCurrency }}
			{% endif %}
		</h4>
	</div>

</article>
