{% if step|default %}

	<dl class="grid grid-cols-1 gap-4 xl:gap-6 p-4 bg-gray-200 rounded-lg">

		{% if step == 'address' or step == 'shipping' or step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[125px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'Contact'|t('foster-checkout') }}
					</span>
					{% if not currentUser %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/email' }}"
							 class="inline-block underline text-[var(--brandColor)] sm:hidden">
							{{ 'Edit'|t('foster-checkout') }}
						</a>
					{% else %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.account) }}"
						   class="inline-block underline text-[var(--brandColor)] sm:hidden">
							{{ 'Account'|t('foster-checkout') }}
						</a>
					{% endif %}
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					<span class="text-black">{{ cart.email }}</span>
					{% if not currentUser %}
						<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]"
							 href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/email' }}">
							{{ 'Edit'|t('foster-checkout') }}
						</a>
					{% else %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.account) }}"
						   class="inline-block underline text-[var(--brandColor)] sm:hidden">
							{{ 'Account'|t('foster-checkout') }}
						</a>
					{% endif %}
				</dd>
			</div>
		{% endif %}

		{% if step == 'shipping' or step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[125px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'Ship to'|t('foster-checkout') }}
					</span>
					<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/address' }}"
						 class="inline-block underline text-[var(--brandColor)] sm:hidden">
						{{ 'Change'|t('foster-checkout') }}
					</a>
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					{% include'foster-checkout/_components/app/formatted-address' with { 'address': cart.shippingAddress} %}
					<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]"
						 href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/address' }}">
						{{ 'Change'|t('foster-checkout') }}
					</a>
				</dd>
			</div>
		{% endif %}

		{% if step == 'payment' %}
			{% set availableShippingMethodOptions = cart.availableShippingMethodOptions ?? null %}
			{% if currentStore.requireShippingMethodSelectionAtCheckout == true %}
			<div class="sm:grid sm:grid-cols-[125px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'Shipping method'|t('foster-checkout') }}
					</span>
					<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/shipping' }}"
						 class="inline-block underline text-[var(--brandColor)] sm:hidden">
						{{ 'Change'|t('foster-checkout') }}
					</a>
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					<p class="text-black">
						{{ cart.shippingMethodName ?? '' }}
					</p>
					{% if cart.availableShippingMethodOptions|length > 1 %}
						<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]"
							 href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/shipping' }}">
							{{ 'Change'|t('foster-checkout') }}
						</a>
					{% endif %}
				</dd>
			</div>
			{% endif %}
		{% endif %}

	</dl>

{% endif %}
