{% if step|default %}

	<dl class="grid grid-cols-1 gap-4 xl:gap-6 p-4 bg-gray-200 rounded-lg {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:border lg:border-gray-250' }}">

		{% if step == 'address' or step == 'shipping' or step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[125px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'steps.contact'|t('foster-checkout') }}
					</span>
					{% if currentUser %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.account) }}"
						   class="inline-block underline text-[var(--brandColor)] sm:hidden"
							target="_blank">
							{{ 'misc.viewAccount'|t('foster-checkout') }}
						</a>
					{% else %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/email' }}"
						   class="inline-block underline text-[var(--brandColor)] sm:hidden">
							{{ 'misc.edit'|t('foster-checkout') }}
						</a>
					{% endif %}
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					<span class="text-black">{{ cart.email }}</span>
					{% if currentUser %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.account) }}"
						   class="hidden sm:inline-block  underline text-[var(--brandColor)]"
						   target="_blank">
							{{ 'misc.viewAccount'|t('foster-checkout') }}
						</a>
					{% else %}
						<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]"
						   href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/email' }}">
							{{ 'misc.edit'|t('foster-checkout') }}
						</a>
					{% endif %}
				</dd>
			</div>
		{% endif %}

		{% if step == 'shipping' or step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[125px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'steps.shipTo'|t('foster-checkout') }}
					</span>
					<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/address' }}"
						 class="inline-block underline text-[var(--brandColor)] sm:hidden">
						{{ 'misc.change'|t('foster-checkout') }}
					</a>
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					{% include'foster-checkout/_components/app/formatted-address' with { 'address': cart.shippingAddress} %}
					<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]"
						 href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/address' }}">
						{{ 'misc.change'|t('foster-checkout') }}
					</a>
				</dd>
			</div>
		{% endif %}

		{% if step == 'payment' %}
			{% set options = cart.availableShippingMethodOptions ?? [] %}
			{% set hasSelectedMethod = (cart.shippingMethodHandle ?? null)
				or (cart.shippingMethod ?? null)
				or ((cart.shippingMethodName ?? '')|length) %}

			{% if hasSelectedMethod %}
				<div class="sm:grid sm:grid-cols-[125px_1fr] sm:gap-6">
					<dt class="flex justify-between items-start gap-4">
						<span class="inline-block font-semibold text-black">
						  {{ 'steps.shippingMethod'|t('foster-checkout') }}
						</span>
						{% if options|length > 1 %}
							<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/shipping' }}"
							   class="inline-block underline text-[var(--brandColor)] sm:hidden">
								{{ 'misc.change'|t('foster-checkout') }}
							</a>
						{% endif %}
					</dt>

					<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
						<p class="text-black">
							{{ cart.shippingMethodName
							?? cart.shippingMethod.handle
							?? cart.shippingMethodHandle
							?? '' }}
						</p>
						{% if options|length > 1 %}
							<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]"
							   href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/shipping' }}">
								{{ 'misc.change'|t('foster-checkout') }}
							</a>
						{% endif %}
					</dd>
				</div>
			{% endif %}
		{% endif %}

	</dl>

{% endif %}
