{% if step|default %}

	<div class="grid grid-cols-1 gap-4 xl:gap-6">

		{% if step == 'email' %}
			<div class="p-4 bg-gray-200 rounded-lg {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">
				<h2 class="font-semibold text-gray-500">
					{{ 'steps.shipping'|t('foster-checkout') }}
				</h2>
			</div>
		{% endif %}

		{% if step == 'email' or step == 'address' %}
			<div class="p-4 bg-gray-200 rounded-lg {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">
				<h2 class="font-semibold text-gray-500">
					{{ 'steps.shippingMethod'|t('foster-checkout') }}
				</h2>
			</div>
		{% endif %}

		{% if step == 'email' or step == 'address' or step == 'shipping' %}
			<div class="p-4 bg-gray-200 rounded-lg {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">
				<h2 class="font-semibold text-gray-500">
					{{ 'shipping.payment'|t('foster-checkout') }}
				</h2>
			</div>
		{% endif %}

	</div>

{% endif %}

