{% if step|default %}

	<dl class="grid grid-cols-1 gap-6 p-4 bg-gray-200 rounded-lg xl:px-6">

		{% if step == 'address' or step == 'shipping' or step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[65px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'User'|t('foster-checkout') }}
					</span>
					<a href="#" class="inline-block underline text-[var(--brandColor)] sm:hidden">
						{{ 'Edit'|t('foster-checkout') }}
					</a>
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					<span class="text-black">email@gmail.com</span>
					<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]" href="#">
						{{ 'Edit'|t('foster-checkout') }}
					</a>
				</dd>
			</div>
		{% endif %}

		{% if step == 'shipping' or step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[65px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'Ship to'|t('foster-checkout') }}
					</span>
					<a href="#" class="inline-block underline text-[var(--brandColor)] sm:hidden">
						{{ 'Edit'|t('foster-checkout') }}
					</a>
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					<p class="text-black">
						John Doe / Ohio, OH 43021 / United States, Columbus / St. 480 E Broad
					</p>
					<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]" href="#">
						{{ 'Edit'|t('foster-checkout') }}
					</a>
				</dd>
			</div>
		{% endif %}

		{% if step == 'payment' %}
			<div class="sm:grid sm:grid-cols-[65px_1fr] sm:gap-6">
				<dt class="flex justify-between items-start gap-4">
					<span class="inline-block font-semibold text-black">
						{{ 'Method'|t('foster-checkout') }}
					</span>
					<a href="#" class="inline-block underline text-[var(--brandColor)] sm:hidden">
						{{ 'Edit'|t('foster-checkout') }}
					</a>
				</dt>
				<dd class="mt-1 sm:flex sm:justify-between sm:items-start sm:gap-4 sm:mt-0">
					<p class="text-black">
						FedEx Expedited: $15.00
					</p>
					<a class="hidden sm:inline-block sm:underline sm:text-[var(--brandColor)]" href="#">
						{{ 'Edit'|t('foster-checkout') }}
					</a>
				</dd>
			</div>
		{% endif %}

	</dl>

{% endif %}