<article>

	<h2 class="mb-6 text-xl font-bold text-gray-800 leading-snug">{{ 'Order Summary'|t('foster-checkout') }}</h2>

	<dl class="grid grid-cols-1 gap-4">

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">{{ 'Subtotal'|t('foster-checkout') }}</dt>
			<dd class="font-semibold text-right text-black">{{ cart.itemTotalAsCurrency }}</dd>
		</div>

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">{{ 'Discount'|t('foster-checkout') }}</dt>
			<dd class="text-right text-red-500">- {{ cart.totalDiscountAsCurrency }}</dd>
		</div>

		<div class="flex justify-between items-center gap-4">
			<dt class="font-semibold text-black">{{ 'Subtotal After Discount'|t('foster-checkout') }}</dt>
			<dd class="font-semibold text-right text-black">$145.00</dd>
		</div>

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">Shipping</dt>
			<dd class="text-right text-black">$24.00</dd>
		</div>

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">Tax</dt>
			<dd class="text-right text-black">{{ cart.totalTaxAsCurrency }}</dd>
		</div>

		<div class="flex justify-between items-center gap-4 mt-4">
			<dt class="font-semibold text-black">Total:</dt>
			<dd class="font-semibold text-right text-black">{{ cart.totalPriceAsCurrency }}</dd>
		</div>

	</dl>

</article>