<article>

	<h2 class="mb-6 text-xl font-bold text-gray-800 leading-snug">{{ 'Order Summary'|t('foster-checkout') }}</h2>

	<dl class="grid grid-cols-1 gap-4">

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">{{ 'Subtotal'|t('foster-checkout') }}</dt>
			<dd class="font-semibold text-right text-black">{{ order.itemSubtotalAsCurrency }}</dd>
		</div>

		{% if cart.totalDiscount != 0 %}
			<div class="flex justify-between items-center gap-4">
				<dt class="text-gray-500">{{ 'Discount'|t('foster-checkout') }}</dt>
				<dd class="text-right text-red-500">{{ order.totalDiscountAsCurrency }}</dd>
			</div>

			<div class="flex justify-between items-center gap-4">
				<dt class="font-semibold text-black">{{ 'Subtotal After Discount'|t('foster-checkout') }}</dt>
				<dd class="font-semibold text-right text-black">{{ order.subTotalAsCurrency }}</dd>
			</div>
		{% endif %}

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">Shipping</dt>
			<dd class="text-right text-black">{{ order.totalShippingCostAsCurrency }}</dd>
		</div>

		<div class="flex justify-between items-center gap-4">
			<dt class="text-gray-500">Tax</dt>
			<dd class="text-right text-black">{{ order.totalTaxAsCurrency }}</dd>
		</div>

		<div class="flex justify-between items-center gap-4 mt-4">
			<dt class="font-semibold text-black">Total:</dt>
			<dd class="font-semibold text-right text-black">{{ order.totalPriceAsCurrency }}</dd>
		</div>

	</dl>

</article>
