{% extends 'foster-checkout/_layouts/default' %}
{% set addresses =  currentUser ? (currentUser.addresses.all() ?? null) : null %}
{% set primaryShippingAddressId =  currentUser ? (currentUser.getPrimaryShippingAddressId() ?? -1) : -1 %}
{% set newAddress = false %}

{% block body %}
	<div class="mt-10 pb-48 lg:mt-20 lg:pb-32">

		<h1 class="mb-12 font-medium text-3xl">{{ 'Checkout'|t('foster-checkout') }}</h1>

		<div class="grid grid-cols-1 gap-16 lg:grid-cols-[1fr_380px] lg:gap-6 xl:grid-cols-[1fr_32.03125%] xl:gap-8">

			<main v-scope="{ shippingAddressId: {{ primaryShippingAddressId }}, editAddress: {{ primaryShippingAddressId == -1 ? 1 : 0 }} }" class="pb-8 border-b border-gray-300 lg:pb-0 lg:border-b-0">

				<div class="grid grid-cols-1 gap-6 lg:gap-8">

					{% include 'foster-checkout/_components/app/steps-completed' with {
						step: 'address'
					} %}

					<form method="post">
            {{ csrfInput() }}
            {{ actionInput('commerce/cart/update-cart') }}
            {{ redirectInput(craft.fostercheckout.getPath('checkout') ~ '/shipping') }}

            {{ hiddenInput('billingAddressSameAsShipping', 1) }}

						<div class="border border-gray-250 rounded-lg overflow-hidden">

							<h2 class="p-4 font-semibold bg-gray-200 lg:px-6">
								{{ '1. Shipping address'|t('foster-checkout') }}
							</h2>

							<div class="xl:p-6">

								<div class="xl:border xl:border-gray-250 xl:rounded-lg xl:overflow-hidden">
                  {% if currentUser and addresses|length %}
                    {% for address in addresses %}
                      {% set newAddress = cart.sourceShippingAddressId == address.id %}
                      <div class="p-4 border-t" :class="{ 'bg-gray-100': parseInt(shippingAddressId) === {{ address.id }} }"
                      {{ cart.sourceShippingAddressId == address.id ? ' checked' : ''}}>
                        <div class="flex justify-between items-center gap-4 radio">
                          <input
                            v-model="shippingAddressId"
                            id="address_{{ address.id }}"
                            name="shippingAddressId"
                            type="radio"
                            class="sr-only"
                            value="{{ address.id }}"
                            @change="editAddress = 0"
                          />
                          <label
                            for="address_{{ address.id }}"
                            class="inline-flex justify-start items-center gap-4 cursor-pointer"
                            :class="{ 'font-medium text-black': parseInt(shippingAddressId) === 1 }"
                          >
                              {% include'foster-checkout/_components/app/formatted-address' with { 'address': address }  %}
                          </label>
                          <button
                            v-cloak
                            type="button"
                            class="text-[var(--brandColor)] underline"
                            @click="editAddress =  parseInt(editAddress) === {{ address.id }} ? 0 : {{ address.id }};"
                          >
                            ${ parseInt(editAddress) === {{ address.id }} ? '{{ 'Cancel'|t('foster-checkout') }}' : '{{ 'Edit'|t('foster-checkout') }}' }
                          </button>
                        </div>
                        <div v-cloak v-if="parseInt(editAddress) === {{ address.id }}" class="pt-8">
                          {% include 'foster-checkout/_components/app/address-fields' %}
                          <div class="flex justify-start items-center gap-6 mt-8 pt-4 border-gray-250 border-t">
                            <button
                              type="submit"
                              class="block min-w-[100px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
                            >
                              {{ 'Save'|t('foster-checkout') }}
                            </button>
                            <button
                              type="button"
                              class="block min-w-[100px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
                              @click="editAddress = 0"
                            >
                              {{ 'Cancel'|t('foster-checkout') }}
                            </button>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% endif %}
									{# end address list #}

									<div class="border-t border-gray-250" :class="{ 'bg-gray-100': parseInt(shippingAddressId) === 0 }">
										<div class="p-4 radio">
											<input
												v-model="shippingAddressId"
												id="address_0"
												name="editAddress"
												type="radio"
												class="sr-only"
												value="0"
												@change="editAddress = 1"
											/>
											<label
												for="address_0"
												class="inline-flex justify-start items-center gap-4 cursor-pointer"
												:class="{ 'font-medium text-black': parseInt(shippingAddressId) === 0 }"
											>
                        {% if addresses|length > 1 %}
												{{ 'Use a different shipping address'|t('foster-checkout') }}
                        {% else %}
                        {{ 'Shipping address'|t('foster-checkout') }}
                        {% endif %}
											</label>
										</div>

										<div v-cloak v-if="parseInt(editAddress) === 1" class="p-4">
											{% include 'foster-checkout/_components/app/address-fields' with {
												context: 'shippingAddress',
                        address: newAddress ? null : (currentUser ? craft.addresses().id(cart.shippingAddressId).one() : null)
											} %}

                      <div class="mt-4 p4 checkbox">
                        <input type="checkbox" class="sr-only" id="saveShippingAddressOnOrderComplete" name="saveShippingAddressOnOrderComplete" value="1" />
                        <label class="inline-flex justify-start items-center gap-4 cursor-pointer font-medium text-gray-500" for="saveShippingAddressOnOrderComplete">{{ 'Save to address book'|t('foster-checkout') }}</label>
                      </div>
										</div>


									</div>

								</div>

							</div>

						</div>

						{% set note = craft.checkout.note('address') %}
						{% if note %}
							<div class="mt-6 p-4 border border-gray-250 rounded-lg xl:p-6">
								{{ note|raw }}
							</div>
						{% endif %}

						<div class="hidden lg:flex lg:justify-end lg:items-center lg:gap-6 lg:mt-10">
							<a
								href="{{ craft.fostercheckout.getPath('cancel') }}"
								class="block min-w-[200px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl"
							>
								{{ 'Continue Shopping'|t('foster-checkout') }}
							</a>
							<button
								type="submit"
								class="block min-w-[200px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
							>
								{{ 'Next Step'|t('foster-checkout') }}
							</button>
						</div>

					</form>

					{% include 'foster-checkout/_components/app/steps-uncompleted' with {
						step: 'address'
					} %}

				</div>

			</main>

			<aside>

				<div class="grid grid-cols-1 gap-10 lg:p-6 lg:bg-white lg:rounded-xl lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]">

					<div class="grid grid-cols-1 gap-6">

						<div class="flex justify-between items-center gap-4">
							<h2 class="text-xl font-bold text-gray-800 leading-snug">
								{{ 'Item(s)'|t('foster-checkout') }}
							</h2>
							<a href="{{ craft.fostercheckout.getPath('cart') }}" class="inline-block text-[var(--brandColor)] underline">
								{{ 'Edit'|t('foster-checkout') }}
							</a>
						</div>

						<ul class="grid grid-cols-1 gap-4">
							{% for lineItem in cart.lineItems %}
								<li>
									{% include 'foster-checkout/_components/app/line-item-checkout' with {
										lineItem: lineItem
									} %}
								</li>
							{% endfor %}
						</ul>

					</div>

					{% include 'foster-checkout/_components/app/summary-cart' with {
						postalCode: '90210',
						couponCode: '121212'
					} %}

				</div>

			</aside>

		</div>

	</div>

{% endblock %}

{% block mobileFooter %}

	{% if cart.lineItems|length > 0 %}
		<div class="grid grid-cols-1 gap-4 p-4 bg-gray-200 sm:p-6">
			<a
				href="#"
				class="block w-full px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl"
			>
				{{ 'Continue Shopping'|t('foster-checkout') }}
			</a>
			<button
				type="submit"
				class="block w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
			>
				{{ 'Next Step'|t('foster-checkout') }}
			</button>
		</div>
	{% endif %}

{% endblock %}
