{% extends 'foster-checkout/_layouts/default' %}
{% set addresses =  currentUser ? (currentUser.addresses.all() ?? null) : null %}
{% set primaryShippingAddressId =  currentUser ? (currentUser.getPrimaryShippingAddressId() ?? -1) : -1 %}

{% block head %}
	<title>
		{{ craft.fostercheckout.settings.branding.title ? craft.fostercheckout.settings.branding.title : siteName }} |
		{{ 'Checkout'|t('foster-checkout') }}: {{ 'Address'|t('foster-checkout') }}
	</title>
{% endblock %}

{% block body %}
	<div class="mt-10 pb-28 lg:pb-32">

		<div class="grid grid-cols-1 gap-16 lg:grid-cols-[1fr_380px] lg:gap-6 xl:grid-cols-[1fr_32.03125%] xl:gap-8">
			<main
				x-data="{
					editExistingAddress: 0,
					shippingAddressId: {{ cart.sourceShippingAddressId ?? cart.shippingAddressId ?? 0 }},
					useNewAddress: {{ (cart.sourceShippingAddressId == null) or (currentUser and not (cart.sourceShippingAddressId ?? cart.shippingAddressId)) ? 1 : 0 }}
				}"
				class="pb-8 border-b border-gray-300 lg:pb-0 lg:border-b-0">

				<div class="grid grid-cols-1 gap-4 xl:gap-6 ">

					{% include 'foster-checkout/_components/app/steps-completed' with {
						step: 'address'
					} %}

					<form method="post">
						{{ csrfInput() }}
						<template x-if="editExistingAddress === 0">
							<div>
								{{ actionInput('commerce/cart/update-cart') }}
								{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/shipping') }}
								{{ hiddenInput('billingAddressSameAsShipping', 1) }}
							</div>
						</template>
						<template x-if="editExistingAddress !== 0">
							<div>
								{{ actionInput('users/save-address') }}
								{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/address') }}
								<input type="hidden" name="addressId" :value="editExistingAddress"/>
							</div>
						</template>

						<div class="border border-gray-250 rounded-lg overflow-hidden {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

							<h2 class="p-4 font-semibold bg-gray-200">
								{{ 'Shipping address'|t('foster-checkout') }}
							</h2>

							<div class="p-4">

								<div class="xl:border xl:border-gray-250 xl:rounded-lg xl:overflow-hidden">

									{% if currentUser and addresses|length %}
										{% for address in addresses %}

											<div class="p-4 border-b border-gray-250"
													 :class="{ 'bg-gray-100': (parseInt(shippingAddressId) === {{ address.id }} && useNewAddress === 0) }"
												{{ cart.sourceShippingAddressId == address.id ? ' checked' : '' }}>

												<div class="flex justify-between items-center gap-4 radio">
													<input
														x-model="shippingAddressId"
														id="address_{{ address.id }}"
														name="shippingAddressId"
														type="radio"
														class="sr-only"
														value="{{ address.id }}"
														:checked="{{ cart.sourceShippingAddressId ?? 0 }} == {{ address.id }}"
														@change="editExistingAddress = 0, useNewAddress = 0, shippingAddressId = {{ address.id }}"
													/>
													<label
														for="address_{{ address.id }}"
														class="inline-flex justify-start items-center gap-4 cursor-pointer"
														:class="{ 'font-medium text-black': parseInt(shippingAddressId) === 1 }"
													>
														{% include'foster-checkout/_components/app/formatted-address' with { 'address': address } %}
													</label>
													<template x-if="parseInt(shippingAddressId) === {{ address.id }} && useNewAddress === 0">
														<button
															type="button"
															class="text-[var(--brandColor)] underline"
															@click="editExistingAddress = parseInt(editExistingAddress) === {{ address.id }} ? 0 : {{ address.id }};"
														>
															<template x-if="editExistingAddress > 0">
																<span>
																	{{ 'Cancel'|t('foster-checkout') }}
																</span>

															</template>
															<template x-if="editExistingAddress == 0">
																<span>
																	{{ 'Edit'|t('foster-checkout') }}
																</span>
															</template>

														</button>
													</template>
												</div>
												<template x-if="parseInt(editExistingAddress) === {{ address.id }}">
													<div class="pt-8">
														{% include 'foster-checkout/_components/app/address-fields' %}
														<div
															class="flex justify-start items-center gap-4 mt-4 pt-4">
															<button
																type="submit"
																class="block min-w-[100px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
															>
																{{ 'Save'|t('foster-checkout') }}
															</button>
															<button
																type="button"
																class="block min-w-[100px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
																@click="editExistingAddress = 0"
															>
																{{ 'Cancel'|t('foster-checkout') }}
															</button>
														</div>
													</div>
												</template>
											</div>
										{% endfor %}
									{% endif %}
									{# end address list #}

									<div :class="{ 'bg-gray-100': parseInt(shippingAddressId) === 0 || useNewAddress }">
										<div class="p-4 radio">
											<input
												id="address_0"
												name="shippingAddressId"
												type="radio"
												class="sr-only"
												value="0"
												:checked="useNewAddress"
												@change="editExistingAddress = 0, useNewAddress = 1"
											/>
											<label
												for="address_0"
												class="inline-flex justify-start items-center gap-4 cursor-pointer"
												:class="{ 'font-medium text-black': useNewAddress }"
											>
												{{ 'New shipping address'|t('foster-checkout') }}
											</label>
										</div>

										<template x-if="useNewAddress">
											<div class="p-4">
												{% set address = null %}
												{% if currentUser and cart.sourceShippingAddressId is not null %}
													{% set address = craft.addresses().owner(currentUser).id(cart.sourceShippingAddressId).one() %}
												{% elseif cart.shippingAddressId is not null %}
													{% set address = craft.addresses().id(cart.shippingAddressId).one() %}
												{% endif %}

												{% include 'foster-checkout/_components/app/address-fields' with {
													context: 'shippingAddress',
													address,
												} %}

												<div class="mt-4 p4 checkbox">
													<input type="checkbox" class="sr-only"
																 id="saveShippingAddressOnOrderComplete"
																 name="saveShippingAddressOnOrderComplete" value="1"/>
													<label
														class="inline-flex justify-start items-center gap-4 cursor-pointer font-medium text-gray-500"
														for="saveShippingAddressOnOrderComplete">{{ 'Save to address book'|t('foster-checkout') }}</label>
												</div>
											</div>
										</template>
									</div>
								</div>

								{% set note = craft.fostercheckout.note('address') %}
								{% if note %}
									<div class="mt-6 p-4 border border-gray-250 rounded-lg">
										{{ note|raw }}
									</div>
								{% endif %}

								<div class="mt-6 grid grid-cols-1 gap-4 md:flex md:justify-end md:items-center md:gap-6">
									<a
										href="{{ siteUrl(craft.fostercheckout.settings.paths.cancel) }}"
										class="hidden md:block min-w-[200px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white"
									>
										{{ 'Return to cart'|t('foster-checkout') }}
									</a>
									<button
										type="submit"
										class="block min-w-[200px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
									>
										{{ 'Next step'|t('foster-checkout') }}
									</button>

								</div>

							</div>

						</div>

					</form>

					{% include 'foster-checkout/_components/app/steps-uncompleted' with {
						step: 'address'
					} %}

				</div>

			</main>

			<aside>

				<div
					class="grid grid-cols-1 gap-10 lg:p-4 lg:bg-white lg:rounded-xl {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

					<div class="grid grid-cols-1 gap-6">

						<div class="flex justify-between items-center gap-4">
							<h2 class="text-xl font-bold text-gray-800 leading-snug">
								{{ 'Item(s)'|t('foster-checkout') }}
							</h2>
							<a href="{{ siteUrl(craft.fostercheckout.settings.paths.cart) }}"
								 class="inline-block text-[var(--brandColor)] underline">
								{{ 'Edit'|t('foster-checkout') }}
							</a>
						</div>

						<ul class="grid grid-cols-1 gap-4">
							{% for lineItem in cart.lineItems %}
								<li>
									{% include 'foster-checkout/_components/app/line-item-checkout' with {
										lineItem: lineItem
									} %}
								</li>
							{% endfor %}
						</ul>

					</div>

					{% include 'foster-checkout/_components/app/summary-cart' %}

				</div>

			</aside>

		</div>

	</div>

{% endblock %}
