{% extends 'foster-checkout/_layouts/default' %}
{% set order = craft.orders.number(craft.app.request.getParam('number')).withAdjustments().withTransactions().withLineItems().one() ?? null %}
{% if not order %}
	{% exit 404 %}
{% endif %}

{% block head %}
	<title>
		{{ craft.fostercheckout.settings.branding.title ? craft.fostercheckout.settings.branding.title : siteName }} |
		{{ 'misc.checkoutTitle'|t('foster-checkout') }} : {{ 'order.stepTitle'|t('foster-checkout') }}
	</title>
{% endblock %}

{% block body %}

	<div
		class="grid grid-cols-1 gap-4 mt-10 pb-10 lg:grid-cols-[1fr_380px] lg:gap-6 lg:mt-20 lg:pb-20 xl:grid-cols-[1fr_32.03125%] xl:gap-8">

		<main class="grid grid-cols-1 gap-8">
			<header>
				<h1 class="font-semibold text-3xl">
					{{ 'order.stepName'|t('foster-checkout') }}
				</h1>
			</header>

			<div class="lg:bg-white lg:rounded-xl {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">
				{% set shippingAddress = craft.addresses.id(order.shippingAddressId).one() %}
				{% if shippingAddress %}
					<iframe
						class="w-full lg:bg-white lg:rounded-xl "
						width="790"
						height="275"
						frameborder="0"
						scrolling="no"
						marginheight="0"
						marginwidth="0"
						id="gmap_canvas"
						src="https://maps.google.com/maps?width=790&amp;height=275&amp;hl=en&amp;q={{ shippingAddress.addressLine1 ~ ' ' ~ shippingAddress.locality ~ ' ' ~ shippingAddress.administrativeArea }}+(Shipping%20address)&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
				{% endif %}

				<div class="p-4 space-y-2">
					<p>
						{{ 'order.orderNumberLabel'|t('foster-checkout') }}
						<strong>{{ order.reference }}</strong>
					</p>
					{# Only show email confirmation message if order confirmation email is configured and enabled #}
					{% set orderStatus = order.orderStatus %}
					{% if orderStatus.default == true %}
						{% set emails = orderStatus.getEmails() %}
						{% for email in emails|filter(email => email.enabled == true and email.recipientType == "customer" and email.getScenario() == "default") %}
							<p>{{ 'order.receiptEmailMessage'|t('foster-checkout') }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>

			<div class="p-4 lg:bg-white lg:rounded-xl {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

				<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
					<div class="grid grid-cols-1 content-start">

						<!-- Contact Information -->
						<div class="">
							<h2 class="text-lg font-medium text-gray-700">{{ 'order.contactInformation'|t('foster-checkout') }}</h2>
							<p class="">{{ order.email }}</p>
						</div>

						<!-- Shipping Address -->
						<div class="mt-4">
							<h2 class="text-lg font-medium text-gray-700">{{ 'order.shippingAddress'|t('foster-checkout') }}</h2>
							<address class="not-italic mt-1">
								{% include'foster-checkout/_components/app/formatted-address' with { 'address': order.shippingAddress} %}
							</address>
						</div>

						{% if order.shippingMethod %}
							<!-- Shipping Method -->
							<div class="mt-4">
								<h2 class="text-lg font-medium text-gray-700">{{ 'order.shippingMethod'|t('foster-checkount') }}</h2>
								<p class="mt-1">
									{{ order.shippingMethod.name }}
								</p>
							</div>
						{% endif %}
					</div>

					<div class="grid grid-cols-1 content-start">
						<!-- Payment Information -->
						<div>
							<h2 class="text-lg font-medium text-gray-700">{{ 'order.payment'|t('foster-checkout') }}</h2>
							{% if craft.app.plugins.isPluginEnabled('gift-voucher') %}
								{# Check for applied / redeemed gift card vouchers in orders #}

								{% if order.orderAdjustments|length >= 1 %}
									{#
									We currently only have access to the redeemed gift card vouchers code using order.orderAdjustments[0].description
									which appears in the form "Gift Voucher discount using code MTLYZKVDAQ"
									In order to get the code, we'll have to split the description string using 'code ' as its delimeter
									#}

									{% set voucherAdjustments = order.orderAdjustments|filter(adjustment => adjustment.type == 'voucher') %}
									{% if voucherAdjustments|length >= 1 %}
										<p class="mt-1">{{ 'order.giftCard'|t('foster-checkout') }}</p>
										{% for voucher in voucherAdjustments %}
											{# Get redeemed voucher code from description #}
											{% set voucherCode = voucher.description|split('code ')[1] is defined ? voucher.description|split('code ')[1] : false %}
											{# Get voucher remaining amount #}
											{% if voucherCode %}
												{% set amountRemaining = craft.giftVoucher.codes().codeKey(voucherCode).one().currentAmount %}
												{% set appliedVoucherAmount = (order.storedItemTotal - (voucher.amount|abs)) < 0 ? order.storedItemTotal : voucher.amount|abs %}
												{% set appliedVoucherDescription = voucher.description|split('code ')[1] ~ ' (' ~ appliedVoucherAmount|currency ~ ' applied, ' ~ amountRemaining|currency ~ ' remaining)' %}
												<p class="mt-1">{{ appliedVoucherDescription }}</p>
											{% endif %}
										{% endfor %}
									{% endif %}
								{% endif %}
							{% endif %}
							{% set transaction = order.transactions|last %}
							{% if transaction %}
								{% set response = transaction.response|json_decode %}
								{% if response and (response.paymentMethod is defined) %}
									{% set paymentMethod = response.payment_method %}
									{% if payment_method.card|default %}
										<p class="mt-1">{{ response.payment_method.card.display_brand|capitalize }} **** {{ response.payment_method.card.last4 }}</p>
									{% else %}
										<p class="mt-1">{{ paymentMethod.type|capitalize }}</p>
									{% endif %}
								{% elseif response.transactionResponse is defined %} {# Authorize.net #}
									{% set paymentMethod = response.transactionResponse %}
									<p class="mt-1">{{ paymentMethod.accountType|capitalize }} **** {{ paymentMethod.accountNumber|slice(-4) }}</p>
								{% endif %}
								<p class="mt-1">{{ transaction.paymentAmount|float|currency('USD') }} ({{ 'order.dateChargedLabel'|t('foster-checkout') }} {{ order.dateOrdered|date }})</p>
							{% endif %}
						</div>

						<!-- Billing Address -->
						<div class="mt-4">
							<h2 class="text-lg font-medium text-gray-700">{{ 'order.billingAddress'|t('foster-checkout') }}</h2>
							<address class="not-italic mt-1">
								{% include'foster-checkout/_components/app/formatted-address' with { 'address': order.billingAddress} %}
							</address>
						</div>
					</div>
				</div>

				{% set note = craft.fostercheckout.note('order') %}
				{% if note %}
					<div class="mt-6 p-4 border border-gray-250 rounded-lg xl:p-6 [&_a]:underline [&_a:hover]:decoration-current">
						{{ note|raw }}
					</div>
				{% endif %}

			</div>

			{% if craft.fostercheckout.settings.options.enableMadeAMistake %}
				{% set mistakeHeading = craft.fostercheckout.note('mistakeHeading') %}
				{% set mistakeText = craft.fostercheckout.note('mistakeText') %}
				<div class="hidden lg:block">
					{% if mistakeHeading %}
						<h3 class="font-semibold text-2xl">{{ mistakeHeading }}</h3>
					{% endif %}
					{% if mistakeText %}
						<div class="mt-6 space-y-2 text-gray-500">
							{{ mistakeText | raw }}
						</div>
					{% endif %}
				</div>
			{% endif %}
		</main>

		<aside>
			<div
				class="grid grid-cols-1 gap-10 lg:p-4 lg:bg-white lg:rounded-xl {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

				<div class="grid grid-cols-1 gap-4 xl:gap-6">

					<h2 class="text-xl font-bold text-gray-800 leading-snug">
						{{ 'summary.itemsTitle'|t('foster-checkout') }}
					</h2>

					<ul class="grid grid-cols-1 gap-4">
						{% for lineItem in order.lineItems %}
							<li>
								{% include 'foster-checkout/_components/app/line-item-checkout' with {
									lineItem: lineItem
								} %}
							</li>
						{% endfor %}
					</ul>

				</div>

				{% include 'foster-checkout/_components/app/summary-order' %}

			</div>

			{% include 'foster-checkout/_components/app/global-checkout-note' %}
			
		</aside>

	</div>

{% endblock %}
