{% extends 'foster-checkout/_layouts/default' %}

{% block head %}
	<title>
		{{ craft.fostercheckout.settings.branding.title ? craft.fostercheckout.settings.branding.title : siteName }} |
		{{ 'misc.checkoutTitle'|t('foster-checkout') }} : {{ 'payment.stepTitle'|t('foster-checkout') }}
	</title>
{% endblock %}

{% block body %}
	{% set gateways = craft.commerce.gateways.getAllCustomerEnabledGateways %}
	{% set addresses = currentUser ? (currentUser.addresses.all() ?? null) : null %}

	{%  set defaultGateway = cart.gatewayId ? cart.gatewayId : gateways[0].id %}

	<div
		class="mt-10 pb-28 lg:pb-32"
		x-data="Payment({ gatewayId: {{ defaultGateway }}, billingSameAsShipping: {{ cart.hasMatchingAddresses() ? 1 : 0 }}, addressBookBillingAddress: 0, newBillingAddress: {{ (cart.hasMatchingAddresses() or cart.sourceBillingAddressId is not null) ? 0 : 1 }}, billingAddressId: {{ cart.hasMatchingAddresses() ? 'null' : (cart.sourceBillingAddressId ?? cart.shippingAddressId ?? 'null') }}, editAddress: {{ (cart.sourceBillingAddressId == null and cart.billingAddressId != null) or currentUser == null ? 1 : 0 }} })"
	>
		<div class="grid grid-cols-1 gap-16 lg:grid-cols-[1fr_380px] lg:gap-6 xl:grid-cols-[1fr_32.03125%] xl:gap-8">

			<main class="pb-8 border-b border-gray-300 lg:pb-0 lg:border-b-0">

				<div class="grid grid-cols-1 gap-4 xl:gap-6">
					{% include 'foster-checkout/_components/app/steps-completed' with {
						step: 'payment'
					} %}

					<div class="border border-gray-250 rounded-lg overflow-hidden {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

						<h2 class="p-4 font-semibold bg-gray-200">
							{{ 'payment.stepName'|t('foster-checkout') }}
						</h2>

						<div class="grid grid-cols-1 gap-5 xl:gap-6 p-4">

							{% set note = craft.fostercheckout.note('payment') %}
							{% if note %}
								<div class="mt-2 p-4 border border-gray-250 rounded-lg">
									{{ note|raw }}
								</div>
							{% endif %}

							<div>
								<h3 class="px-4 mb-4 font-semibold xl:px-0">
									{{ 'payment.billingAddress'|t('foster-checkout') }}
								</h3>

								<div class="xl:border xl:border-gray-250 xl:rounded-lg xl:overflow-hidden">

									<form method="post" id="sameAsShippingForm">
										{{ csrfInput() }}
										{{ actionInput('commerce/cart/update-cart') }}
										<div class="p-4" :class="{ 'bg-gray-100': parseInt(billingSameAsShipping) === 1 }">
											<div class="radio">
												<input x-model="billingSameAsShipping" id="billingSameAsShipping_1"
													   name="billingAddressSameAsShipping" type="radio" class="sr-only"
													   value="1"
													   @change="selectSameAsShipping()"/>
												<label for="billingSameAsShipping_1"
													   class="flex justify-start items-center gap-4 cursor-pointer">
													<span class="block">
														<span class="block"
															  :class="{ 'font-medium text-black': parseInt(billingSameAsShipping) === 1 }">{{ 'payment.saveAsShippingAddress'|t('foster-checkout') }}</span>
														<span
															class="block mt-2 text-gray-500">{% include'foster-checkout/_components/app/formatted-address' with { 'address': cart.shippingAddress} %}</span>
													</span>
												</label>
											</div>
										</div>
									</form>

									{# Address book #}
									<form method="post" id="addressBookForm">
										{{ csrfInput() }}
										{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.checkout) ~ '/shipping') }}
										<template x-if="editAddress <= 1">
											<div>
												{{ actionInput('commerce/cart/update-cart') }}
											</div>
										</template>
										<template x-if="editAddress > 1">
											<div>
												{{ actionInput('users/save-address') }}
												<input type="hidden" name="addressId" :value="editAddress"/>
											</div>
										</template>
										{% for address in addresses %}
											{% if address.id != cart.sourceShippingAddressId|default %}
												<div class="p-4 border-t"
													 :class="{ 'bg-gray-100': parseInt(billingAddressId) === {{ address.id }} }">
													<div class="flex justify-between items-center gap-4 radio">
														<input
															x-model="billingAddressId"
															id="address_{{ address.id }}"
															name="billingAddressId"
															type="radio"
															class="sr-only"
															value="{{ address.id }}"
															@change="selectAddress()"
														/>
														<label
															for="address_{{ address.id }}"
															class="inline-flex justify-start items-center gap-4 cursor-pointer"
															:class="{ 'font-medium text-black': parseInt(billingAddressId) === 1 }"
														>
															{% include'foster-checkout/_components/app/formatted-address' with { 'address': address } %}
														</label>
														<button
															x-cloak
															type="button"
															class="text-[var(--brandColor)] underline"
															@click="editAddress = parseInt(editAddress) === {{ address.id }} ? 0 : {{ address.id }};"
														>
															<template x-if="parseInt(editAddress) === {{ address.id }}"><span>{{ 'misc.cancel'|t('foster-checkout') }}</span></template>
															<template x-if="parseInt(editAddress) !== {{ address.id }}"><span>{{ 'misc.edit'|t('foster-checkout') }}</span></template>
														</button>
													</div>
													<template x-if="parseInt(editAddress) === {{ address.id }}">
														<div class="pt-8">
															{% include 'foster-checkout/_components/app/address-fields' %}
															<div
																class="flex justify-start items-center gap-6 mt-8 pt-4 border-gray-250 border-t">
																<button
																	type="submit"
																	class="block min-w-[100px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
																>
																	{{ 'misc.save'|t('foster-checkout') }}
																</button>
																<button
																	type="button"
																	class="block min-w-[100px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
																	@click="editAddress = 0"
																>
																	{{ 'misc.cancel'|t('foster-checkout') }}
																</button>
															</div>
														</div>
													</template>
												</div>
											{% endif %}
										{% endfor %}
									</form>
									{# end address book #}

									{# New billing address #}
									<div class="border-t border-gray-250"
										 :class="{ 'bg-gray-100': parseInt(newBillingAddress) === 1 }">
										<div class="p-4 radio">
											<input x-model="newBillingAddress" id="newBillingAddress"
												   type="radio" class="sr-only" value="1"
												   @change="billingSameAsShipping = 0;addressBookBillingAddress = 0; billingAddressId = null;"/>
											<label for="newBillingAddress"
												   class="inline-flex justify-start items-center gap-4 cursor-pointer"
												   :class="{ 'font-medium text-black': parseInt(newBillingAddress) === 1 }">
												{{ 'payment.useDifferentBillingAddress'|t('foster-checkout') }}
											</label>
										</div>
										<template x-if="parseInt(newBillingAddress) === 1" >
											<div class="p-4">
												<form method="post">
													{{ csrfInput() }}
													{{ actionInput('commerce/cart/update-cart') }}

													{% include 'foster-checkout/_components/app/address-fields' with {
														context: 'billingAddress',
														address: cart.billingAddress ?? null,
													} %}

													<div class="mt-4 p4 checkbox">
														<input type="checkbox" class="sr-only"
															   id="saveBillingAddressOnOrderComplete"
															   name="saveBillingAddressOnOrderComplete" value="1"/>
														<label
															class="inline-flex justify-start items-center gap-4 cursor-pointer font-medium text-gray-500"
															for="saveBillingAddressOnOrderComplete">{{ 'payment.saveToAddressBook'|t('foster-checkout') }}</label>
													</div>

													<div
														class="flex justify-start items-center gap-6 mt-8 pt-4 border-gray-250 border-t">
														<button type="submit"
																class="block min-w-[100px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]">
															{% if cart.billingAddressId and cart.hasMatchingAddresses == false %}
																{{ 'misc.update'|t('foster-checkout') }}
															{% else %}
																{{ 'misc.save'|t('foster-checkout') }}
															{% endif %}
														</button>
														<button type="button"
																class="block min-w-[100px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl sm:min-w-[140px] md:min-w-[200px]"
																@click="editAddress = 0">
															{{ 'misc.cancel'|t('foster-checkout') }}
														</button>
													</div>
												</form>
											</div>
										</template>
									</div>
								</div>
							</div>

							{% if craft.app.plugins.isPluginEnabled('gift-voucher') %}
								<div class="my-6" x-data="{ sending: false }">

									<h3 class="px-4 mb-4 font-semibold xl:px-0">
										{{ 'voucher.voucherHeading'|t('foster-checkout') }}
									</h3>

									{% set voucherCodeError = cart.getFirstError('voucherCode') ?? null %}

									{# If there are no gift voucher code errors #}
									{% set voucherCodeSuccess = craft.app.session.getFlash('success') ?? null %} {# Not working for now #}

									{% if voucherCodeError %}
										{% set voucherMessage = voucherCodeError %}
									{% else %}
										{% if voucherCodeSuccess %}
											{% set voucherMessage = 'Voucher/Gift voucher added' | t('Foster Checkout') %}
										{% else %}
											{% set voucherMessage = null %}
										{% endif %}
									{% endif %}


									<div class="px-4 xl:px-0"
									>
										<form
											class="grid grid-cols-[1fr,_120px] items-start gap-4"
											:class="sending ? 'grid-cols-[1fr,_120px]' : 'grid-cols-[1fr,_90px]'"
											method="post"
											@submit="sending = true"
										>
											{{ csrfInput() }}
											{{ actionInput('gift-voucher/cart/add-code') }}
											{{ hiddenInput('successMessage', 'Voucher/Gift card applied' | t('Foster Checkout') | hash) }}
											{% include 'foster-checkout/_components/base/input-text-clearable' with {
												label: 'voucher.voucherCode'|t('foster-checkout'),
												hideLabel: true,
												id: 'voucherCode',
												name: 'voucherCode',
												type: 'text',
												autocomplete: 'off',
												placeholder: 'voucher.enterCode'|t('foster-checkout'),
												errors: voucherCodeError ? [voucherMessage] : [],
												success: false and voucherMessage ? [voucherMessage] : [],
												value: '',
											} %}
											<button
												type="submit"
												class="h-[48px] flex justify-center items-center gap-2 px-4 text-white bg-[var(--brandColor)] rounded-xl"
												:disabled="sending"
											>
												<svg x-show="sending" aria-hidden="true" role="status"
													 class="inline-block w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600"
													 viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path
														d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
														fill="currentColor"/>
													<path
														d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
														fill="#ffffff"/>
												</svg>
												<span class="inline-block">{{ 'voucher.applyCode'|t('foster-checkout') }}</span>
											</button>
										</form>
									</div>


									{# Check for applied / redeemed gift card vouchers in orders #}

									{% set voucherAdjustments = cart.adjustments|filter(adjustment => adjustment.type == 'voucher') %}

									{% if voucherAdjustments|length %}
										<div class="border-gray-400 border-b flex flex-col space-y-2 py-4 px-4 xl:px-0">
											<p class="text-gray-500 m-0">
												{{ 'voucher.appliedCodesHeading'|t('foster-checkout') }}:
											</p>
											<ul class="text-gray-500 m-0 list-disc">
												{% for adj in voucherAdjustments %}
													{% set matches = adj.description|split('code ') %}
													{% set code = matches|length > 1 ? matches[1]|trim("'") : 'Voucher/Gift Card' %}
													<li class="ml-5">{{ code }} ({{ adj.amount|abs|currency }} applied)</li>
												{% endfor %}
											</ul>
										</div>
									{% endif %}

								</div>
							{% endif %}

							<div>
								<h3 class="px-4 mb-4 font-semibold xl:px-0">
									{{ 'payment.paymentMethod'|t('foster-checkout') }}
								</h3>

								<div class="xl:border xl:border-gray-250 xl:rounded-lg xl:overflow-hidden">
									{% for gateway in gateways %}
										{% set gatewayClass = className(gateway) %}

										{% set shouldRender = cart.total >= 0 or (cart.total == 0 and gatewayClass != 'craft\\commerce\\stripe\\gateways\\PaymentIntents') %}

										{% if shouldRender %}
											<div class="p-4 border-b border-gray-250"
												 :class="{ 'bg-gray-100': parseInt(gatewayId) === {{ gateway.id }} }">
												<div class="flex justify-between items-center gap-4 radio">
													<input id="gateway_{{ gateway.id }}" name="gatewayId" type="radio"
														   class="sr-only" value="{{ gateway.id }}" {{ defaultGateway == gateway.id ? 'checked' }}
														   @change="gatewayId = {{ gateway.id }}"/>
													<label for="gateway_{{ gateway.id }}"
														   class="inline-flex justify-start items-center gap-4 cursor-pointer">
														<span class="block">{{ gateway.name|t('foster-checkout') }}</span>
													</label>
												</div>
												<div class="pt-8" x-show="gatewayId == {{ gateway.id }}">
													<form method="POST" id="paymentForm">
														{{ csrfInput() }}
														{{ actionInput('commerce/payments/pay') }}
														{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.checkout ~ '/order')) }}
														{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.checkout ~ '/order', {
															number: cart.number,
															success: 'true'
														})) }}
														{{ hiddenInput('cancelUrl', siteUrl(craft.fostercheckout.settings.paths.checkout ~ '/payment')|hash) }}
														{{ hiddenInput('orderEmail', cart.email) }}
														{{ hiddenInput('gatewayId', gateway.id) }}

														{% set buttonText = 'Pay'|t('foster-checkout') ~ ' ' ~ cart.totalAsCurrency %}

														{% if gatewayClass == 'craft\\commerce\\gateways\\Manual' %}

															{% set fields = craft.fostercheckout.getManualGatewayFields(gateway.handle) %}
															<div class="grid grid-cols-1 gap-y-4 gap-x-4 ">

																{% for field in craft.fostercheckout.getManualGatewayFields(gateway.handle) %}
																	<div class="sm:col-span-3">
																		{% switch field.type %}
																			{% case 'select' %}
																				{% set fieldTemplate = 'input-select' %}

																			{% default %}
																				{% set fieldTemplate = 'input-text-clearable' %}
																		{% endswitch %}


																		{% include 'foster-checkout/_components/base/' ~ fieldTemplate with {
																			context: '',
																			label: field.label,
																			id: field.id ?? field.handle,
																			name: field.name ?? "fields[#{field.handle}]",
																			type: field.type,
																			placeholder: field.placeholder,
																			errors: errors.locality ?? [],
																			minLength: field.minLength,
																			maxLength: field.maxLength,
																			min: field.min,
																			max: field.max,
																			required: field.required ?? false,
																			options: field.options ?? [],
																		} %}
																	</div>
																{% endfor %}

																<button
																	type="submit"
																	class="mt-8 justify-between items-center gap-4 w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl lg:inline-block"
																>
																	{{ buttonText }}
																</button>
															</div>

														{% else %}

															{% set params = {} %}

															{% if gatewayClass == 'craft\\commerce\\stripe\\gateways\\PaymentIntents' %}
																{% set params = {
																	order: cart,
																	paymentFormType: 'elements',
																	appearance: {
																		theme: craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'flat' : 'stripe',
																		labels: 'floating',
																		variables: {
																			colorPrimary: craft.fostercheckout.settings.branding.color ?? '#1F2937',
																			borderRadius: craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? '0px' : '6px',
																			gridColumnSpacing: '24px',
																			gridRowSpacing: '24px',
																			tabSpacing: '12px',
																		}
																	},
																	submitButtonText: buttonText,
																	submitButtonClasses: 'mt-8 justify-between items-center gap-4 w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl lg:inline-block'
																} %}

															{% elseif gatewayClass == 'craft\\commerce\\paypalcheckout\\gateways\\Gateway' %}
																{% set params = { currency: cart.paymentCurrency } %}
															{% endif %}

															{# Gateway with custom fields #}
															{% if craft.fostercheckout.getManualGatewayFields(gateway.handle) %}
																{% namespace gateway.handle|commercePaymentFormNamespace %}
																	{% set columns = craft.fostercheckout.getManualGatewayColumns(gateway.handle) ?: 3 %}

																	<div class="grid gap-y-4 gap-x-4 sm:grid-cols-{{ columns }}">
																		{% for field in craft.fostercheckout.getManualGatewayFields(gateway.handle) %}
																			<div class="sm:col-span-{{ field.columns ?: 'full' }}">
																				{% switch field.type %}
																					{% case 'select' %}
																						{% set fieldTemplate = 'input-select' %}

																					{% default %}
																						{% set fieldTemplate = 'input-text-clearable' %}
																				{% endswitch %}


																				{% include 'foster-checkout/_components/base/' ~ fieldTemplate with {
																					context: '',
																					label: field.label,
																					id: field.id ?? field.handle,
																					name: field.name ?? field.handle,
																					type: field.type,
																					placeholder: field.placeholder,
																					errors: errors.locality ?? [],
																					minLength: field.minLength,
																					maxLength: field.maxLength,
																					min: field.min,
																					max: field.max,
																					required: field.required ?? false,
																					options: field.options ?? [],
																				} %}
																			</div>
																		{% endfor %}
																	</div>

																	<button
																		type="submit"
																		class="mt-8 justify-between items-center gap-4 w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl lg:inline-block"
																	>
																		{{ buttonText }}
																	</button>
																{% endnamespace %}
															{% else %}
																{% namespace gateway.handle|commercePaymentFormNamespace %}
																	{{ gateway.getPaymentFormHtml(params)|raw }}
																{% endnamespace %}
															{% endif %}



														{% endif %}
													</form>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>

						</div>

					</div>
				</div>

			</main>

			<aside>

				<div
					class="grid grid-cols-1 gap-10 lg:p-4 lg:bg-white lg:rounded-xl {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

					<div class="grid grid-cols-1 gap-6">

						<div class="flex justify-between items-center gap-4">
							<h2 class="text-xl font-bold text-gray-800 leading-snug">
								{{ 'summary.itemsTitle'|t('foster-checkout') }}
							</h2>
							<a href="{{ siteUrl(craft.fostercheckout.settings.paths.cart) }}"
							   class="inline-block text-[var(--brandColor)] underline">
								{{ 'misc.edit'|t('foster-checkout') }}
							</a>
						</div>

						<ul class="grid grid-cols-1 gap-4">
							{% for lineItem in cart.lineItems %}
								<li>
									{% include 'foster-checkout/_components/app/line-item-checkout' with {
										lineItem: lineItem
									} %}
								</li>
							{% endfor %}
						</ul>

					</div>

					{% include 'foster-checkout/_components/app/summary-cart' with {
						estimatedTax: false
					} %}
				</div>

			</aside>

		</div>

	</div>

	{% js %}
		var $paymentForms = document.querySelectorAll('.paymentForm');

		if ($paymentForms.length) {
			$paymentForms.forEach(($paymentForm) => {

				// Only allow the payment form submit to be triggered once.
				$paymentForm.addEventListener('submit', function(ev) {

					if ($paymentForm.dataset.processing) {
						ev.preventDefault();
						return false;
					}

					$paymentForm.dataset.processing = true;
				});
			});
		}
	{% endjs %}

{% endblock %}
