{% extends 'foster-checkout/_layouts/default' %}

{% block body %}
	<div class="mt-10 pb-48 lg:mt-20 lg:pb-32">

		<h1 class="mb-12 font-medium text-3xl">{{ 'Checkout'|t('foster-checkout') }}</h1>

		<div class="grid grid-cols-1 gap-16 lg:grid-cols-[1fr_380px] lg:gap-6 xl:grid-cols-[1fr_32.03125%] xl:gap-8">

			<main v-scope="{ shippingMethodId: 1 }" class="pb-8 border-b border-gray-300 lg:pb-0 lg:border-b-0">

				<div class="grid grid-cols-1 gap-6 lg:gap-8">

					{% include 'foster-checkout/_components/app/steps-completed' with {
						step: 'shipping'
					} %}

					<form action="">

						<div class="border border-gray-250 rounded-lg overflow-hidden">

							<h2 class="p-4 font-semibold bg-gray-200 lg:px-6">
								{{ '2. Shipping method'|t('foster-checkout') }}
							</h2>

							<div class="xl:p-6">

								<div class="xl:border xl:border-gray-250 xl:rounded-lg xl:overflow-hidden">

									<div class="p-4" :class="{ 'bg-gray-100': parseInt(shippingMethodId) === 1 }">
										<div class="flex justify-between items-center gap-4 radio">
											<input
												v-model="shippingMethodId"
												id="method_1"
												name="shippingMethodId"
												type="radio"
												class="sr-only"
												value="1"
											/>
											<label
												for="method_1"
												class="inline-flex justify-start items-center gap-4 cursor-pointer"
											>
												<span class="block">
													<span class="block">Free Shipping</span>
													<span class="block mt-1 text-sm text-gray-500">Ships within 1 business day, arrives in 3-4 days</span>
												</span>
											</label>
											<span class="block font-semibold">$0.00</span>
										</div>
									</div>

									<div class="p-4 border-t border-gray-250" :class="{ 'bg-gray-100': parseInt(shippingMethodId) === 2 }">
										<div class="flex justify-between items-center gap-4 radio">
											<input
												v-model="shippingMethodId"
												id="method_2"
												name="shippingMethodId"
												type="radio"
												class="sr-only"
												value="2"
											/>
											<label
												for="method_2"
												class="inline-flex justify-start items-center gap-4 cursor-pointer"
											>
												<span class="block">
													<span class="block">Expedited (Faster)</span>
													<span class="block mt-1 text-sm text-gray-500">Ships within 1 business day, arrives in 2-3 days</span>
												</span>
											</label>
											<span class="block font-semibold">$15.00</span>
										</div>
									</div>

									<div class="p-4 border-t border-gray-250" :class="{ 'bg-gray-100': parseInt(shippingMethodId) === 3 }">
										<div class="flex justify-between items-center gap-4 radio">
											<input
												v-model="shippingMethodId"
												id="method_3"
												name="shippingMethodId"
												type="radio"
												class="sr-only"
												value="3"
											/>
											<label
												for="method_3"
												class="inline-flex justify-start items-center gap-4 cursor-pointer"
											>
												<span class="block">
													<span class="block">Urgent (Fastest)</span>
													<span class="block mt-1 text-sm text-gray-500">Ships within 1 business day, arrives in 1-2 days</span>
												</span>
											</label>
											<span class="block font-semibold">$19.00</span>
										</div>
									</div>

								</div>

							</div>

						</div>

						{% set note = craft.checkout.note('shipping') %}
						{% if note %}
							<div class="mt-6 p-4 border border-gray-250 rounded-lg xl:p-6">
								{{ note|raw }}
							</div>
						{% endif %}

						<div class="hidden lg:flex lg:justify-end lg:items-center lg:gap-6 lg:mt-10">
							<a
								href="#"
								class="block min-w-[200px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl"
							>
								{{ 'Continue Shopping'|t('foster-checkout') }}
							</a>
							<button
								type="submit"
								class="block min-w-[200px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
							>
								{{ 'Next Step'|t('foster-checkout') }}
							</button>
						</div>

					</form>

					{% include 'foster-checkout/_components/app/steps-uncompleted' with {
						step: 'shipping'
					} %}

				</div>

			</main>

			<aside>

				<div class="grid grid-cols-1 gap-10 lg:p-6 lg:bg-white lg:rounded-xl lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]">

					<div class="grid grid-cols-1 gap-6">

						<div class="flex justify-between items-center gap-4">
							<h2 class="text-xl font-bold text-gray-800 leading-snug">
								{{ 'Item(s)'|t('foster-checkout') }}
							</h2>
							<a href="#" class="inline-block text-[var(--brandColor)] underline">
								{{ 'Edit'|t('foster-checkout') }}
							</a>
						</div>

						<ul class="grid grid-cols-1 gap-4">
							{% for lineItem in cart.lineItems %}
								<li>
									{% include 'foster-checkout/_components/app/line-item-checkout' with {
										lineItem: lineItem
									} %}
								</li>
							{% endfor %}
						</ul>

					</div>

					{% include 'foster-checkout/_components/app/summary-cart' with {
						postalCode: '90210',
						couponCode: '121212'
					} %}

				</div>

			</aside>

		</div>

	</div>

{% endblock %}

{% block mobileFooter %}

	{% if cart.lineItems|length > 0 %}
		<div class="grid grid-cols-1 gap-4 p-4 bg-gray-200 sm:p-6">
			<a
				href="#"
				class="block w-full px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl"
			>
				{{ 'Continue Shopping'|t('foster-checkout') }}
			</a>
			<button
				type="submit"
				class="block w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
			>
				{{ 'Next Step'|t('foster-checkout') }}
			</button>
		</div>
	{% endif %}

{% endblock %}