{% extends 'foster-checkout/_layouts/default' %}

{% block head %}
	<title>
		{{ craft.checkout.branding.title ? craft.checkout.branding.title : siteName }} |
		{{ 'Checkout'|t('foster-checkout') }} : {{ 'Shipping'|t('foster-checkout') }}
	</title>
{% endblock %}

{% block body %}
	{% set availableShippingMethodOptions = cart.availableShippingMethodOptions ?? null %}
	{% set onlyMethod = null %}
	{% if cart is defined %}
		{% if currentStore.requireShippingMethodSelectionAtCheckout == false %}
			{# If there's 1 or more shipping method available then set it on the cart #}
			{% if cart.availableShippingMethodOptions|length >= 1 %}
				{% for handle, option in cart.availableShippingMethodOptions %}
					{% set onlyMethod = handle %}
				{% endfor %}
			{% elseif cart.availableShippingMethodOptions|length == 0 %}
				{# If requireShippingMethodSelectionAtCheckout is false and there are no available shipping methods, then just redirect to the payment page #}
				{% redirect(craft.fostercheckout.getPath('checkout') ~ '/payment') %}
			{% endif %}
		{% else %}
			{# If there's 1 or more shipping method available then set it on the cart #}
			{% if cart.availableShippingMethodOptions|length >= 1 %}
				{% for handle, option in cart.availableShippingMethodOptions %}
					{% set onlyMethod = handle %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endif %}


	<div class="mt-10 pb-48 lg:mt-20 lg:pb-32">

		<h1 class="mb-12 font-medium text-3xl">{{ 'Checkout'|t('foster-checkout') }}</h1>

		<div class="grid grid-cols-1 gap-16 lg:grid-cols-[1fr_380px] lg:gap-6 xl:grid-cols-[1fr_32.03125%] xl:gap-8">
			<main v-scope="{ shippingMethodHandle: '{{ cart.shippingMethod.handle ?? onlyMethod }}' }"
						class="pb-8 border-b border-gray-300 lg:pb-0 lg:border-b-0">
				<div class="grid grid-cols-1 gap-6 lg:gap-8">

					{% include 'foster-checkout/_components/app/steps-completed' with {
						step: 'shipping'
					} %}

					<form method="post">

						{{ csrfInput() }}
						{{ actionInput('commerce/cart/update-cart') }}

						{% if cart.availableShippingMethodOptions|length >= 1 %}
							{{ redirectInput(craft.fostercheckout.getPath('checkout') ~ '/payment') }}
						{% else %}
							{{ redirectInput(craft.fostercheckout.getPath('checkout') ~ '/shipping') }}
						{% endif %}

						<div class="border border-gray-250 rounded-lg overflow-hidden">

							<h2 class="p-4 font-semibold bg-gray-200 lg:px-6">
								{{ '2. Shipping method'|t('foster-checkout') }}
							</h2>

							<div class="xl:p-6">

								<div
									class="xl:border xl:border-b-0 xl:border-gray-250 xl:rounded-lg xl:overflow-hidden">
									{% if availableShippingMethodOptions|length %}
										{% for handle, method in availableShippingMethodOptions %}
											<div class="p-4 border-b border-gray-250"
													 :class="{ 'bg-gray-100': shippingMethodHandle === '{{ method.handle }}' }">

												<div class="flex justify-between items-center gap-4 radio">

													<input
														v-model="shippingMethodHandle"
														id="method_{{ handle }}"
														name="shippingMethodHandle"
														type="radio"
														class="sr-only"
														value="{{ handle }}"
													/>
													<label
														for="method_{{ handle }}"
														class="inline-flex justify-start items-center gap-4 cursor-pointer"
													>
                          <span class="block">
                            <span class="block">{{ method.name }}</span>
                            <span
															class="block mt-1 text-sm text-gray-500">{{ craft.commerce.shippingMethods.getMatchingShippingRule(cart, method).getDescription() }}</span>
                          </span>
													</label>
													<span
														class="block font-semibold">{{ method.getPrice()|commerceCurrency(cart.currency) }}</span>
												</div>
											</div>
										{% endfor %}
									{% endif %}

								</div>

							</div>

						</div>

						{% set note = craft.checkout.note('shipping') %}
						{% if note %}
							<div class="mt-6 p-4 border border-gray-250 rounded-lg xl:p-6">
								{{ note|raw }}
							</div>
						{% endif %}

						<div class="hidden lg:flex lg:justify-end lg:items-center lg:gap-6 lg:mt-10">
							<a
								href="#"
								class="block min-w-[200px] px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl"
							>
								{{ 'Continue Shopping'|t('foster-checkout') }}
							</a>
							<button
								type="submit"
								class="block min-w-[200px] px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
							>
								{{ 'Next Step'|t('foster-checkout') }}
							</button>
						</div>

					</form>

					{% include 'foster-checkout/_components/app/steps-uncompleted' with {
						step: 'shipping'
					} %}

				</div>

			</main>

			<aside>

				<div
					class="grid grid-cols-1 gap-10 lg:p-6 lg:bg-white lg:rounded-xl {{ craft.checkout.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:shadow-[0_4px_12px_0_rgba(0,0,0,0.16)]' }}">

					<div class="grid grid-cols-1 gap-6">

						<div class="flex justify-between items-center gap-4">
							<h2 class="text-xl font-bold text-gray-800 leading-snug">
								{{ 'Item(s)'|t('foster-checkout') }}
							</h2>
							<a href="{{ craft.fostercheckout.getPath('cart') }}"
								 class="inline-block text-[var(--brandColor)] underline">
								{{ 'Edit'|t('foster-checkout') }}
							</a>
						</div>

						<ul class="grid grid-cols-1 gap-4">
							{% for lineItem in cart.lineItems %}
								<li>
									{% include 'foster-checkout/_components/app/line-item-checkout' with {
										lineItem: lineItem
									} %}
								</li>
							{% endfor %}
						</ul>

					</div>

					{% include 'foster-checkout/_components/app/summary-cart' with {
						postalCode: '90210',
						couponCode: '121212'
					} %}

				</div>

			</aside>

		</div>

	</div>

{% endblock %}

{% block mobileFooter %}

	{% if cart.lineItems|length > 0 %}
		<div class="grid grid-cols-1 gap-4 p-4 bg-gray-200 sm:p-6">
			<a
				href="#"
				class="block w-full px-4 py-3 font-medium text-[var(--brandColor)] text-center bg-white border border-[var(--brandColor)] rounded-xl"
			>
				{{ 'Continue Shopping'|t('foster-checkout') }}
			</a>
			<button
				type="submit"
				class="block w-full px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
			>
				{{ 'Next Step'|t('foster-checkout') }}
			</button>
		</div>
	{% endif %}

{% endblock %}
