{% extends 'foster-checkout/_layouts/default' %}

{% block head %}
	<title>{{ craft.fostercheckout.settings.branding.title ? craft.fostercheckout.settings.branding.title : siteName }}
		| {{ 'misc.cartTitle'|t('foster-checkout') }}</title>
{% endblock %}

{% block includeHead %}
	{% set headInclude = craft.fostercheckout.settings.includes.head %}
	{% if headInclude|default %}
		{% include headInclude with {
			context: 'cart',
			location: 'head',
			step: null,
			cart: cart
		} %}
	{% endif %}
{% endblock %}

{% block body %}

	{% if cart.lineItems|length > 0 %}

		<div
			class="grid grid-cols-1 gap-16 mt-10 pb-32 lg:grid-cols-[1fr_380px] lg:gap-6 lg:mt-20 xl:grid-cols-[1fr_32.03125%] xl:gap-8">

			<main class="flex flex-col justify-start items-stretch gap-6 lg:justify-between">

				<div class="flex flex-col justify-start items-stretch gap-6">

					<header class="flex justify-between items-center gap-4 lg:items-end">
						<div class="inline-flex justify-start items-center gap-2">
							<h1 class="font-semibold text-3xl">{{ 'cart.cartTitle'|t('foster-checkout') }}</h1>
							<p
								class="text-gray-500"
								title="{{ (cart.totalQty > 1 ? 'cart.totalItemsPlural' : 'cart.totalItemsSingle')|t('foster-checkout', params = { qty: cart.totalQty }) }}"
							>
								({{ cart.totalQty }})
							</p>
						</div>
						<form method="post">
							{{ csrfInput() }}
							{{ actionInput('commerce/cart/forget-cart') }}
							{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.cart)) }}
							<button type="submit"
											class="font-medium text-[var(--brandColor)]">{{ 'cart.clearCart'|t('foster-checkout') }}</button>
						</form>
					</header>

					<ul class="grid grid-cols-1 gap-4 lg:gap-6">
						{% for lineItem in cart.lineItems %}
							<li>
								{% include 'foster-checkout/_components/app/line-item-cart' with {
									lineItem: lineItem
								} %}
							</li>
						{% endfor %}
					</ul>

				</div>

				{% set note = craft.fostercheckout.note('cart') %}
				{% if note %}
					<div class="mt-4 p-4 border border-gray-250 text-sm text-gray-500 {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? '' : 'lg:rounded-lg' }} [&_a]:underline [&_a:hover]:decoration-current">
						{{ note|raw }}
					</div>
				{% endif %}

				<div>
					<a href="{{ siteUrl(craft.fostercheckout.settings.paths.cancel) }}"
					   class="block md:inline-block min-w-[200px] px-4 py-3 font-medium text-[var(--brandColor)] border border-[var(--brandColor)] text-center bg-white rounded-lg">
						{{ 'cart.continueShopping'|t('foster-checkout') }}
					</a>

					{% include 'foster-checkout/_components/app/checkout-footer-links' %}
				</div>

			</main>

			<aside>
				<div
					class="lg:p-6 lg:bg-white lg:rounded-xl {{ craft.fostercheckout.settings.branding.style|default('rounded') == 'flat' ? 'lg:border lg:border-gray-300' : 'lg:border lg:border-gray-250' }}">
					{% include 'foster-checkout/_components/app/summary-cart' %}

					{% if cart.email and craft.app.plugins.isPluginEnabled('klaviyo-connect-plus') %}
						<form method="POST" accept-charset="UTF-8">
							{{ csrfInput() }}
							{{ redirectInput(siteUrl(craft.fostercheckout.settings.paths.checkout)) }}
							{{ actionInput('klaviyo-connect-plus/api/track') }}
							{{ hiddenInput('email', cart.email) }}
							{{ hiddenInput('event[name]', 'Started Checkout') }}
							{{ hiddenInput('event[trackOrder]', '1') }}
							{{ hiddenInput('event[orderId]', cart.id) }}
							<button type="submit"
											class="block w-full md:inline-block md:w-auto lg:block lg:w-full mt-6 px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl">
								{{ 'cart.checkout'|t('foster-checkout') }}
							</button>
						</form>
					{% else %}
						<a href="{{ siteUrl(craft.fostercheckout.settings.paths.checkout) }}"
							 class="block w-full md:inline-block md:w-auto lg:block lg:w-full mt-6 px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
						>
							{{ 'cart.checkout'|t('foster-checkout') }}
						</a>
					{% endif %}


				</div>
			</aside>

		</div>

	{% else %}

		<div class="mt-10 pb-32 lg:mt-20">

			<header class="inline-flex justify-start items-center gap-2 mb-24 lg:mb-16">
				<h1 class="font-semibold text-3xl">{{ 'cart.cartTitle'|t('foster-checkout') }}</h1>
				<p
					class="text-gray-500"
					title="{{ 'cart.totalItemsZero'|t('foster-checkout', params = { qty: 0 }) }}"
				>
					(0)
				</p>
			</header>

			<div class="text-center">
				<h2 class="font-semibold text-xl text-black">{{ 'cart.isEmpty'|t('foster-checkout') }}</h2>
				<div class="mt-3 mx-auto text-gray-500 prose prose-a:text-black [&_a]:underline [&_a:hover]:decoration-current">
					{% set note = craft.fostercheckout.note('emptyCart') %}
					{% if note %}
						{{ note|raw }}
					{% else %}
						<p>
							<a href="{{ loginUrl }}">{{ 'misc.signIn'|t('foster-checkout') }}</a>
							{{ 'cart.seePreviousItemsMessage'|t('foster-checkout') }}
						</p>
					{% endif %}
				</div>
				<a
					href="{{ siteUrl(craft.fostercheckout.settings.paths.cancel) }}"
					class="inline-block lg:block max-w-[260px] mt-10 mx-auto px-4 py-3 font-medium text-white text-center bg-[var(--brandColor)] border border-[var(--brandColor)] rounded-xl"
				>
					{{ 'cart.continueShopping'|t('foster-checkout') }}
				</a>
			</div>

		</div>

	{% endif %}

{% endblock %}

{% block includeBody %}
	{% set bodyInclude = craft.fostercheckout.settings.includes.body %}
	{% if bodyInclude|default %}
		{% include bodyInclude with {
			context: 'cart',
			location: 'body',
			step: null,
			cart: cart
		} %}
	{% endif %}
{% endblock %}
